@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

$loraFont: 'Lora';
$montserratFont: 'Montserrat';
$light: #fff;
$dark: #656565;
$break-large: 1100px;
$break-small: 796px;